.root {
  text-align: center;

  > :first-child {
    font-size: 24px;
    line-height: 2;
    border-bottom: 1px solid #797979;
    background-color: #ccc;
  }

  > :last-child {
    padding: 0 10%;
    margin-top: ~'calc((100vh - 200px) / 2)';

    > :first-child {
      font-size: 20px;
    }

    > :nth-child(2) {
      position: relative;
      margin: 20px auto 30px;
      max-width: 300px;

      input {
        text-align: center;
      }

      &::after {
        position: absolute;
        display: block;
        content: ~'attr(data-error)';
        color: red;
      }
    }

    > :last-child {
      button {
        color: red;
        border: 1px solid #797979;

        &[disabled] {
          color: black;
        }
      }
    }
  }
}
