@default-font-size: 16px;
@background-color: white;
@brand-primary: #a9a9a9;
@font-family-base: '微软雅黑', '宋体', sans-serif;

// antd变量
@font-size-base: 20px;
@text-color: rgba(0, 0, 0, 0.80);
@primary-color: @brand-primary;
@border-radius-base: 0;
@input-height-base: 48px;
@btn-height-base: 30px;
@input-border-color: grey;
@input-hover-border-color: @input-border-color;
@select-border-color: @input-border-color;
@border-width-base: 2px;
